{% extends "network/layout.html" %}

{% block body %}
<div class="container-fluid" id="root"> 
</div>
<script type="text/babel">
    function WhoLiked(props){
            let string = 'Nobody liked this yet'

            if(props.liked_by.length>0){
                        if (props.liked_by.length >=3){
                            string = `${props.liked_by[0]}, ${props.liked_by[1]} and ${props.liked_by.length-2} more liked this.`
                        } else if (props.liked_by.length>1){
                            string = `${props.liked_by[0]} and ${props.liked_by[1]} liked this.` 
                        } else if (props.liked_by.length=1){
                            string = `${props.liked_by[0]} liked this.`
                        } 
                    }
            return <div className="text-muted">{string}</div>
        }

    function LikeButtons(props){
        function changeButton(event){
            event.preventDefault()

            /* Only do actions if the post is not posted by user logged in */
            if("{{user.username}}"===props.posted_by){
                alert(`You cannot like your post!`)

            } else {
                fetch('../see_all_posts', {
                    method:'PUT',
                    body:JSON.stringify({
                    user:"{{user.username}}",
                    post:props.id,
                    })
                })
            };
            props.setUpdate(false)
        };

        return (
            props.like ? 
                <button key={props.id} id={props.id} className="btn btn-success" onClick={(event)=>{changeButton(event)}}>Like</button> :
                <button key={props.id} id={props.id} className="btn btn-danger" onClick={(event)=>{changeButton(event)}}>Dislike</button>
        )
    }; 
    
    function FollowingView(props){
        const [data, setData] = React.useState(null)
        const [currentPage, setCurrentPage] = React.useState("{{pagination.number}}");

        React.useEffect(()=> {
            fetch(`../see_following_posts?page=${currentPage}`)
            .then(response => response.json())
            .then(posts => {
                posts.posts.map(post => post.liked_by.includes("{{user.username}}") ? post.like = false : post.like = true )
                setData(posts.posts)
                props.setUpdate(true)})
        }, [props.update])

        function PaginationLinks(){
            const page=[]
            for (let i=1; i<= "{{pagination.paginator.num_pages}}"; i++){
                page.push(<li class="page-item"><a class="page-link" href={`?page=${i}`}>{i}</a></li>)
            }
            return page.map(li => li)  
        }  

        return <div className="container-fluid">
                    <h1>Your Feed</h1>
                    {data &&  data.map(({like, id, posted_by, content, posted_at, liked_by}) => (
                            <div className="card">
                                    <div className="card-header">
                                        <h5><a href={`user/${posted_by}`}>{posted_by}</a></h5>
                                        <div className='buttons' user="{{user.username}}">
                                            <LikeButtons id={id} like={like} setUpdate={props.setUpdate}/>
                                        </div>
                                    </div>
                                    <div className="card-body">
                                        <p className="card-text">{content}</p>
                                        <WhoLiked liked_by={liked_by} />
                                    </div>
                                    <div className="card-footer text-muted">{posted_at}</div>
                                </div>
                            ))}
                            <nav>
                            <ul class="pagination">
                                {"{%if pagination.has_previous%}"}
                                    <li class="page-item"><a href="?page={{pagination.previous_page_number}}"class="page-link">Previous</a></li>
                                {"{%endif%}"}
                                <PaginationLinks/>
                                {"{%if pagination.has_next%}"}
                                    <li class="page-item"><a href={"?page={{pagination.next_page_number}}"}class="page-link">Next</a></li>
                                {"{%endif%}"}
                            </ul>
                        </nav>   
                        </div>;           
    }
    
    function App(){
        const auth = "{{user.is_authenticated}}" === 'False' ? false : true
        const [update, setUpdate] = React.useState(null);

        return (
            <div>       
                {auth && <FollowingView setUpdate={setUpdate} update={update}/>}
            </div>
        )
    }  
    ReactDOM.render(<App />, document.querySelector("#root"));
</script>
{%endblock%}