{% extends "network/layout.html" %}

{% block body %}


    <div class="container-fluid" id="posts">   
    </div>
    <script type="text/babel">
        // JS Functions
        const buttons = window["buttons"]

        // React Functions
        function FetchPosts(){
            const [data, setData] = React.useState(null);
            const [error, setError] = React.useState(null);
            
            React.useEffect(() => {
                // Fetch the data only once.

                fetch('all_posts')
                .then(response => {
                    if (!response.ok){
                        throw new Error(`HTTP Error Status ${response.status}`)
                    };
                    return response.json()
                })
                .then(posts => {
                    setData(posts)
                    setError(null)
                    })
                .catch(err => {
                    setError(err.message)
                    setData(null)
                })
            }, [])

            function Likes(likes){
                let string = ''
                console.log(likes.length)
                if(likes.length>0){
                    if (likes.length >=3){
                        return string += `${likes[0]}, ${likes[1]} and ${likes.length-2} more liked this.`
                    } else if (likes.length>1){
                        return string += `${likes[0]} and ${likes[1]} liked this.`
                    } else if (likes.length=1){
                        return string += `${likes[0]} liked this.`
                    }
                    }
                    else{
                        return 'Nobody liked this yet...'
                    } 
            };

            return <div class="posts"> 
                <h1>All Posts</h1>
                    {data &&
                    data.map(({id, posted_by, content, posted_at, liked_by}) => (
                        <div class="card">
                            <div class="card-header">
                                <h5>{posted_by}</h5>
                                <div class='buttons'>
                                    <button id="like_button" class="btn btn-danger" onClick={()=>{buttons(id, "{{user.username}}", posted_by, 'like')}}>Like</button>
                                    <button id="follow_button" class="btn btn-info" onClick={()=>{buttons(id, "{{user.username}}", posted_by, 'follow')}}>Follow</button>
                                </div>
                                </div>
                            <div class="card-body">
                                <p class="card-text">{content}</p>
                                <div class="text-muted">{Likes(liked_by)}</div>
                            </div>
                            <div class="card-footer text-muted">{posted_at}</div>
                        </div>
                    ))}
                </div>;    
        }
        ReactDOM.render(<FetchPosts />, document.querySelector("#posts"));
    </script>
    

{% endblock %}