{% extends "network/layout.html" %}

{% block body %}

    <div class="container-fluid" id="posts">   
    </div>
    <script type="text/babel">
        function App(){
            const [data, setData] = React.useState(null);
            const [error, setError] = React.useState(null);

            React.useEffect(() => {
                fetch('all_posts')
                .then(response => {
                    if (!response.ok){
                        throw new Error(`HTTP Error Status ${response.status}`)
                    };
                    return response.json()
                })
                .then(posts => {
                    /* console.log(posts) */
                    setData(posts)
                    setError(null)
                    })
                .catch(err => {
                    setError(err.message)
                    setData(null)
                })
            }, [])

            function Likes(likes){
                let string = ''
                if(likes.length>0){
                    if (likes.length >= 3){
                    return string += `${likes[0]} and 2 more liked this.`
                }
                else {
                    for (let user of likes){
                        string += ` ${user}, `
                    }
                    return string + 'liked this.' 
                }
                } return 'Nobody liked this yet...'
            }

            
            return <div class="App"> 
                <h1>Posts</h1>
                    {data &&
                    data.map(({ posted_by, content, posted_at, liked_by}) => (
                        <div class="card">
                            <div class="card-header">
                                <h5>{posted_by}</h5>
                                <button>Follow</button>
                                <button>Like</button>
                                </div>
                            <div class="card-body">
                                <p class="card-text">{content}</p>
                                <div class="text-muted">{Likes(liked_by)}</div>
                            </div>
                            <div class="card-footer text-muted">{posted_at}</div>
                        </div>
                    ))}
                </div>;
        }
        ReactDOM.render(<App />, document.querySelector("#posts"));
    </script>

{% endblock %}