{% extends "network/layout.html" %}

{% block body %}
    <div class="container-fluid" id="root"> 
    </div>

    <script type="text/babel">
        function Home(){
            return (
                <div className="home">
                    <img src="https://miro.medium.com/max/1200/1*nm4VZt2HpZj0CW3FL3b-eg.png"/>
                </div>
            )    
        }

        function App(){
            return (
                <div>       
                    <Home/>
                </div>
            )
        }  
        ReactDOM.render(<App />, document.querySelector("#root"));
    </script>
{% endblock %}