{% extends "network/layout.html" %}

{% block body %}
{{ request.user.username|json_script:"user_username" }}
    <div class="container-fluid" id="title"> 
        <h1>Welcome to the Network <b>{{user.username}}</b>!!</h1>
        {% if user.is_authenticated %}
        <form class="form-row">
            <div class="form-group col mb-2">
                {{newPost}}
            </div>
            <button type="submit" class="btn btn-primary mb-2 mx-2 col-1" id="post_button">Post</button>   
        </form>
        {%endif%}
    </div>

    <div class="container-fluid" id="posts"> 
    </div>

    <script type="text/babel">
        function FetchPosts(){
            const [data, setData] = React.useState(null);
            const [error, setError] = React.useState(null);
            const [L, setL] = React.useState([])
            const [update, setUpdate] = React.useState(true)


            function buttons(id, posted_by){
                // Only do actions if the post is not posted by user logged in
                if("{{user.username}}"===posted_by){
                    alert(`You cannot like your post!`)
                } else {
                    fetch('home', {
                        method:'PUT',
                        body:JSON.stringify({
                            user:"{{user.username}}",
                            post:id,
                        })
                    })
                    .then(changeLike(id))
                };
            }   

            React.useEffect(() => {
                // Fetch the data only once.

                fetch('all_posts')
                .then(response => {
                    if (!response.ok){
                        throw new Error(`HTTP Error Status ${response.status}`)
                    };
                    return response.json()
                })
                .then(posts => {
                    const newL = []
                    posts.forEach(post => {
                        if(post.liked_by.includes("{{user.username}}")){
                            newL.push({id:post.id, like:'Dislike'})
                        } else{
                            newL.push({id:post.id, like:'Like'})
                        }   
                    })
                    setL(newL)
                    setError(null)
                    setData(posts)
                })
                .catch(err => {
                    setError(err.message)
                    setData(null)
                })
            }, [update])
            
            try{
                document.querySelector('form').onsubmit = event => {
                const post_content = document.querySelector('#post_content').value;
                const user_username = JSON.parse(document.getElementById('user_username').textContent);
                fetch('home',{
                    method:'POST',
                    body: JSON.stringify({
                        posted_by:user_username,
                        content: post_content
                    })
                }) 
                .then(setUpdate(!update))
                .then(document.querySelector('#post_content').value = '')   
                return false
            }
            } catch(TypeError){
                console.log('"Post Form" cannot exist with no user logged in')   
            }


            function Likes(likes){
                let string = ''
                if(likes.length>0){
                    if (likes.length >=3){
                        return string += `${likes[0]}, ${likes[1]} and ${likes.length-2} more liked this.`
                    } else if (likes.length>1){
                        return string += `${likes[0]} and ${likes[1]} liked this.`
                    } else if (likes.length=1){
                        return string += `${likes[0]} liked this.`
                    }
                    }
                    else{
                        return 'Nobody liked this yet...'
                    } 
            };

            function changeLike(id){
                const newL = L
                const postindex = newL.findIndex(item => item.id === id)
                const item = newL[postindex]
                if (item.like ==='Like'){
                    item.like = 'Dislike'
                } else{
                    item.like = 'Like'
                }
                setL(newL)
                setUpdate(!update)
            }
            
            return <div class="posts"> 
                {data && data.map(({like, id, posted_by, content, posted_at, liked_by}) => (
                    <div class="card">
                            <div class="card-header">
                                <h5><a class="user_profile" onClick={()=> (window['user_profile']({posted_by}))}>{posted_by}</a></h5>
                                <div class='buttons' user="{{user.username}}">
                                    <button key={id} id={id} class="btn btn-danger" onClick={()=>{
                                        buttons(id, posted_by)
                                    }}>{L.filter(post => (post.id === id))[0].like}</button>
                                </div>
                                </div>
                            <div class="card-body">
                                <p class="card-text">{content}</p>
                                <div class="text-muted">{Likes(liked_by)}</div>
                            </div>
                            <div class="card-footer text-muted">{posted_at}</div>
                        </div>
                    ))}
                </div>;
        }
        ReactDOM.render(<FetchPosts />, document.querySelector("#posts"));
    </script>

    <div class="container-fluid" id="profile"> 
    </div>
    <script type="text/babel">

        function follow(user){
            console.log(user)
            fetch('follow',{
                method: 'PUT',
                body:  JSON.stringify({
                    target : user
                })
            })
            .then(response => response.json())
            .then(result => (changeFollowState()))
        }

        function changeFollowState(){

        }

        function User(){
            return         <div class="row align-items-center">
                <div class="col" id="name">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg?forcejpeg=true" height="200" alt="profile placeholder"></img>
                </div>
                <div class="col " id="info">
                    <div class="row text-center" id="user"></div>
                    <div class="row" id="following"></div>
                    <div class="row" id="followers"></div>
                    <div class="row " id="postings"></div>
                    <button id="followbutton" onClick={()=>(follow(document.getElementById('user').innerText))}></button>    
                </div>
            </div>
        }
        ReactDOM.render(<User />, document.querySelector("#profile"));
    </script>

{% endblock %}