{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/scripts.js' %}" defer></script>
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
    <body>
        <div id="nav">
        </div>

        <script type="text/babel">
            function LoggedLinks(){
                const auth = "{{user.is_authenticated}}" === 'False' ? false : true 
                return (
                    auth ?  
                    <ul className="navbar-nav mr-auto"> 
                        <li className="nav-item">
                            {"{%if user.is_authenticated%}"}
                                <button className="nav-link user_profile" id="user_profile"><strong>{"{{user.username}}"}</strong></button>
                            {"{%endif%}"}
                        </li>                              
                        <li className="nav-item">
                            <button className="nav-link" >Following</button>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href={"{% url 'logout' %}"}>Log Out</a>
                        </li>
                        <li className="nav-item">
                                <button className="nav-link" id="allposts">All Posts</button>
                        </li>
                    </ul>
                    :
                    <ul className="navbar-nav mr-auto">
                        <li className="nav-item">
                            <a className="nav-link" href={"{% url 'login' %}"}>Log In</a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href={"{% url 'register' %}"}>Register</a>
                        </li>
                    </ul>    
                )
            }

            function Nav(){
                return (
                    <nav className="navbar navbar-expand-lg navbar-light bg-light">
                        <a className="navbar-brand" href={"{% url 'index' %}"} id="home">Network</a>
                        <LoggedLinks/>   
                    </nav>

                )
            }
            ReactDOM.render(< Nav/>, document.getElementById("nav"))
        </script>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>